
@if (cargando) {
  <div class="page-container">
    <p>Cargando información...</p>
  </div>
} 

@else if (error) {
  <div class="page-container">
    <p style="color: red;">{{ error }}</p>
  </div>
} 


@else {
  @if (datos) {
    <div class="sobre-mi-container">
      
      <div class="foto-container">
        <img [src]="datos.foto" [alt]="'Foto de ' + datos.nombre" class="foto-perfil">
      </div>
  
      <div class="info-container">

        <h1 class="nombre">{{ datos.nombre }}</h1>
        <h2 class="titulo">{{ datos.titulo }} en {{ datos.Institucion }}</h2>
        <p class="descripcion">{{ datos.descripcion }}</p>
  
        <div class="contacto-links">
          <a [href]="datos.github"  class="info-link">GitHub</a>
          <a [href]="datos.linkedin" class="info-link">LinkedIn</a>
          <a [href]="'mailto:' + datos.email" class="info-link">Email</a>
          <a [href]="'tel:' + datos.telefono" class="info-link">Teléfono</a>
        </div>
      </div>
    </div>
  }
}